%section.m-about
  .m-content-flow
    .m-section-title
      %h2 About
      .line

    %p
      ="I'm a fourth year engineering student based out of the University of British Colombia with a passion for developing new and exciting products. Language and technology are less important to me than a clear sense focus and direction around the core product. That said I have a preference for Ruby / Python for web development and Java / Objective-C for mobile. Previously I've worked on #{link_to 'eVow', 'https://play.google.com/store/apps/details?id=com.evow.android&hl=en', :target => '_blank' } and #{ link_to 'OneShift', 'https://oneshift.com.au/', :target => '_blank' } as well as personal projects in my spare time."

    %p
      ="I have a strong interest in entrepreneurship in the technology sector and will be actively seeking new graduate positions starting May 2014."
