%section.m-showcase
  .m-content-flow
    .m-section-title.showcase
      %h2 Showcase
      .line

    .row.links
      =link_to 'https://github.com/ChristopherTulip', :target => :blank do
        %i.icon-github.icon-5

      =link_to 'http://stackoverflow.com/users/1569404/ctulip', :target => :blank do
        %i.icon-stackexchange.icon-5

      =link_to 'http://www.linkedin.com/in/ctulip', :target =>  :blank do
        %i.icon-linkedin-sign.icon-5
