.m-showcase
  display: table
  color: $gunmetal_grey
  width: 100%

  .links
    width: 100%

    a
      margin-right: 21%

      &:last-of-type
        margin-right: 0

      @media (max-width: 560px)
        margin: 15%
